[submodule "Chainer_Realtime_Multi-Person_Pose_Estimation"]
	path = Chainer_Realtime_Multi-Person_Pose_Estimation
	url = https://github.com/Toraudonn/Chainer_Realtime_Multi-Person_Pose_Estimation.git
[submodule "Chainer_Mask_R-CNN"]
	path = Chainer_Mask_R-CNN
	url = https://github.com/Toraudonn/Chainer_Mask_R-CNN.git
