<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Action Mapping</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #ffffff;
				margin: 0px;
				overflow: hidden;
			}
			#info {
				color: #fff;
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				z-index: 100;
				display:block;
			}
			a { color: skyblue }
			.button { background:#999; color:#eee; padding:0.2em 0.5em; cursor:pointer }
			.highlight { background:orange; color:#fff; }
			span {
				display: inline-block;
				width: 60px;
				float: left;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
		<script src="{{ url_for('static', filename='js/three.js') }}"></script>

        <script src="{{ url_for('static', filename='js/libs/stats.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/libs/dat.gui.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/loaders/PLYLoader.js') }}"></script>
		<script src="{{ url_for('static', filename='js/controls/OrbitControls.js') }}"></script> 
		<script src="{{ url_for('static', filename='js/Detector.js') }}"></script>
		<script src="{{ url_for('static', filename='js/actionRecognition.js') }}"></script>
		<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
		<script src="{{ url_for('static', filename='js/initializations.js') }}"></script>
		<script src="{{ url_for('static', filename='js/pose.js') }}"></script>
		<script src="{{ url_for('static', filename='js/cocoObjects.js') }}"></script>

		<script>
			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			// Connect to server via socket:
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on ('connect', function() {
				socket.emit ('ack connection', {data: 'I\'m connected!'});
			});

			/////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//
			//  Global Variables
			//
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////
			
			var container, stats, gui;
			var scene, camera, renderer, orbit, lights;
			var renderGroup, room;
			
			var jointGroup = [];
			var limbGroup = [];
			var centerGroup = {};

			var cups = {};
			var drinkAction;
			
			// Main Room Model
			var roomModelURL = "{{ url_for('static', filename='models/ply/binary/11_02_room_edited.ply') }}";

			// Font
			//var fontFile = "{{ url_for('static', filename='fonts/helvetiker_regular.typeface.json') }}";

			var state = {
				renderPose : true,
				renderRoom : false,
			};

			/////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//
			//  Socket
			//
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////

			function gotNewDataFromSocket(poses, bboxes, centers) {
				
				updatePoses(poses);
				//updateBboxes(bboxes);
				updateCenters(centers);
			}

			function getDataFromSocket(callback) {
				socket.emit('give me data', {data: 'pass me some data!"'}, callback);
				// socket.once('send pose', function( msg ) {
				// 	ack();
				// 	callback(msg);
				// });
			}
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//
			//  Animation loop
			//
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////

			var animationFlags = {
				renderRoom : true
			};

			var last = 0; // timestamp of the last render() call
			var lastClear = 0; // timestamp of the last render() call
			var interval = 0.05; // 1/frame rate

			var lastAction = 0;

			function animate(now) {  // requestAnimationFrame has a call back for time (which is `now`)

				if(!last || now - last >= interval*1000) {
					last = now;
					if (state.renderPose) {
						getDataFromSocket(gotNewDataFromSocket);
					}
				}


				// Object detection
				if(!lastClear || now - lastClear >= 2*1000) {
					lastClear = now;
					
					// clear objects once in a while
					for (var key in centerGroup) {

						// don't clear if the center point is near

						renderGroup.remove(centerGroup[key]);
						centerGroup[key].geometry.dispose();
						centerGroup[key].material.dispose();
						centerGroup[key] = undefined;
					}

					centerGroup = {};
				}

				if(!lastAction || now - lastAction >= 1*1000) {
					lastAction = now;

					removeDrinkText();
					
					for (var key in cups) {

						//console.log(jointGroup[0][0].position);
						// console.log(key)
						detectDrinkAction(jointGroup[0][0].position, cups[key]);

					}
				}


				if (!(state.renderRoom === animationFlags.renderRoom)) {
					if (!(room === undefined)) {
						if (state.renderRoom) {
							room.visible = true;
							animationFlags.renderRoom = true;
						} else {
							room.visible = false;
							animationFlags.renderRoom = false;
						}	
					}
				}

				requestAnimationFrame( animate );
				
				renderer.render( scene, camera );
				stats.update();
			}
			
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////
			//
			//  Initialize and run
			//
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////

			initThreeD(roomModelURL);
			setupDatGui();
			initHuman();
			animate();

		</script>

	</body>
</html>